<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <form action="action_page.php"></form>
    <div class="col-md-6">
      <h1>Job Details</h1>
      <div class="container">
        <hr>
        <p><b>
            Street Address: {{JobType.jobStreetAddress}}<br>
            Street Address Line 2: {{JobType.jobStreetAddressL2}}<br>
            City: {{JobType.jobCity}}<br>
            State: {{JobType.jobState}}<br>
            Zip Code: {{JobType.jobZipCode}}<br>
            <br>
          </b></p>
        <br>
        {{!-- <label for="notes"><b>Notes:</b></label>
        <input type="text" name="notes" id="notes">
        <br><br> --}}
        <a href="/viewAll"><button type="button" class="backButton">Back</button></a>
        <button type="submit" class="submitChgButton">Submit Changes</button>
        <br><br>
        <hr>
      </div>
    </div>
    <div class="jobDetails">
      <div class="col-md-6">
        <br><br><br><br>
        <label for="phase"><b>Phase:</b></label>{{JobType.phase}}
        <br>

        <label for="typeOfWork"><b>Type Of Work:</b></label>{{JobType.typeOfWork}}
        <br>
        <label for="typeOfWork"><b>Source of Work:</b></label>{{JobType.sourceOfWork}}
        {{!-- <br>
        <label for="status"><b>Status:</b></label>{{JobType.status}}
        <br> --}}
        {{!-- <select id="status" name="status">
          <option value="Active">Active</option>
          <option value="Cancelled">Cancelled</option>
          <option value="Completed">Completed</option>
        </select> --}}
      </div>
    </div>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>