<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <form action="action_page.php"></form>
    <div class="col-md-6">
      <h1>Job Details</h1>
      <div class="container">
        <hr>
        <p><b>Company Name: {{customer.companyName }}<br>
            Name: {{customer.firstName }} &nbsp;{{customer.lastName}}<br>
            Position/Dept: {{customer.positionDepartment}}<br>
            Start Date: {{job.startDate}}<br>
            Phone Number: {{customer.phoneNumber}}<br>
            Email: {{customer.email}}<br>
            Street Address: {{job.JobStreetAddress}}<br>
            Street Address Line 2: {{job.JobStreetAddress}}<br>
            City: {{job.JobCity}}<br>
            State: {{job.JobState}}<br>
            Zip Code: {{job.JobZipCode}}<br>
            <br>
          </b></p>
        <br>
        <label for="notes"><b>Notes:</b></label>
        <input type="text" name="notes" id="notes">
        <br><br>
        <a href="/customer"><button type="button" class="backButton">Back</button></a>
        <button type="submit" class="submitChgButton">Submit Changes</button>
        <br><br>
        <hr>
        <div class="history">
          <tr>
            <h1>Job History</h1>
          </tr>
        </div>
      </div>
    </div>
    <br>
    <div class="jobDetails">
      <div class="col-md-6">
        <br><br><br><br>
        <label for="phase"><b>Phase:</b></label>{{job.phase}}
        <br>

        <label for="typeOfWork"><b>Type Of Work:</b></label>{{job.JobState}}
        <br>
        <label for="typeOfWork"><b>Source of Work:</b></label>{{job.JobState}}
        <label for="status"><b>Status:</b></label>{{job.JobState}}
        <br>
        <select id="status" name="status">
          <option value="Active">Active</option>
          <option value="Cancelled">Cancelled</option>
          <option value="Completed">Completed</option>
        </select>
      </div>
    </div>
    </form>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!--
<script type="text/javascript" src="js/members.js"></script> --}}
{{!--
<script type="text/javascript" src="/static/js/jobType.js"></script> --}}