<nav class="navbar navbar-default" style="background-color: #1F3456;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout" style="color: White">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <form action="action_page.php"></form>
        <div class="col-md-3">
            <h1>Customer Profile</h1>
            <div class="container">
                <hr>
                <p><b>Company Name: {{customer.companyName }}<br>
                        First Name Last Name: {{customer.firstName }} {{customer.lastName}}<br>
                        Position or Department: {{customer.positionDepartment}}<br>
                        Start Date: {{customer.startDate}}<br>
                        End Date: {{customer.endDate}}<br>
                        Phone Number: {{customer.phoneNumber}}<br>
                        Email: {{customer.email}}<br>
                        Street Address: {{customer.streetAddress}}<br>
                        Street Address Line 2: {{customer.streetAddress}}<br>
                        City: {{customer.city}}<br>
                        State: {{customer.state}}<br>
                        Zip Code: {{customer.zipCode}}<br>
                        <br>
                    </b></p>
                <br>
                <label for="notes"><b>Notes:</b></label>
                <input type="text" name="notes" id="notes">
                <br><br>
                <a href="/customer"><button type="button" class="backButton">Back</button></a>
                <button type="submit" class="submitChgButton">Submit Changes</button>
                <br><br>
            </div>
        </div>
    </div>
    <br>
    <section id="searchResults">
        <h2>Job History</h2>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Job Type</th>
                    <th>Start Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            {{#each customers}}
            <tbody>
                <tr>
                    <td class="tableCol" style="vertical-align: middle;"><a
                            style="text-decoration: none">{{Placeholder}}</a></td>
                    <td class="tableCol" style="vertical-align: middle;"> {{Placeholder}}</td>
                    <td class="tableCol" style="vertical-align: middle;">{{Placeholder}}</td>
                    <td class="tableCol" style="text-align:center;"><a class="btn" href="/job">Add Job</a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </section>
</div>
</div>
</div>
</form>
</div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{!--
<script type="text/javascript" src="js/members.js"></script> --}}

{{!--
<script type="text/javascript" src="/static/js/profile.js"></script> --}}