<nav class="navbar navbar-default" style="background-color: #1F3456;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout" style="color: White">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <hr>
        <section id="searchResults">
            <h2>Search Results</h2>
            <hr>
            <table class="table table-striped">
                <thead>

                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                    </tr>
                </thead>
                {{#each customer}}
                {{#dataValues}}
                <tbody class="tableRow">
                    <tr>
                        <td class="tableCol" style="vertical-align: middle;">
                            {{firstName}}
                            {{lastName}}
                            <a style="text-decoration: none">
                            </a>
                        </td>
                        <td class="tableCol" style="vertical-align: middle;">
                            {{phoneNumber}}
                        </td>
                        <td class="tableCol" style="vertical-align: middle;">{{streetAddress}}</td>
                        <td class="tableCol" style="text-align:right;">
                            <a class="btn" href="/jobs/{{id}}">View Jobs</a>
                            <a class="btn" href="/job-form">Add Job</a>
                            <a id="profileBtn" class="btn" href="/profile/{{id}}">View Profile</a>

                            <a class="btn" id={{id}} class="deleteCustomer"
                                onclick="handleDeleteButtonPress(this)">Delete</a>


                        </td>
                    </tr>
                </tbody>
                {{/dataValues}}
                {{/each}}
                <a href=" /customer"><button type="button" class="backButton">Back</button></a>
            </table>
        </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/static/js/viewAll.js" type="text/javascript"></script>